Repository hallya/caviste_personnel, changes with the owners that CODEOWNERS names for each.
All owners: @luciendulac, @platform-team, @cart-team, @notifications-team, @frontend-team

feat: add configuration and domain packages
  packages/config/package.json
  packages/config/src/env.ts
  packages/config/src/index.ts
  packages/config/src/tailwind-config.ts
  packages/config/tsconfig.json
  packages/config/tsup.config.ts
  packages/domain/package.json
  packages/domain/src/cart.ts
  packages/domain/src/collection.ts
  packages/domain/src/currency.ts
  packages/domain/src/index.ts
  packages/domain/src/product.ts
  packages/global-types/index.d.ts
  packages/global-types/package.json
Owners: @luciendulac

feat: add core functionality
  packages/core/jest.config.js
  packages/core/jest.setup.ts
  packages/core/package.json
  packages/core/src/__tests__/ModuleIntegration.test.tsx
  packages/core/src/components/PreloadLink.tsx
  packages/core/src/hooks/__tests__/useModules.test.tsx
  packages/core/src/hooks/__tests__/useSafeAppShell.test.tsx
  packages/core/src/hooks/useModules.ts
  packages/core/src/hooks/useSafeAppShell.ts
  packages/core/src/index.ts
  packages/core/src/routing/RouteRegistry.tsx
  packages/core/src/routing/__tests__/RouteRegistry.test.tsx
  packages/core/src/shell/AppShell.tsx
  packages/core/src/shell/__tests__/AppShell.test.tsx
  packages/core/src/shell/types.ts
  packages/core/tsconfig.json
  packages/core/tsup.config.ts
Owners: @platform-team

feat: add design system components
  packages/design-system/src/components/AddProduct/AddProduct.tsx
  packages/design-system/src/components/AddProduct/index.ts
  packages/design-system/src/components/Button/Button.tsx
  packages/design-system/src/components/Button/index.ts
  packages/design-system/src/components/Carousel/Carousel.module.css
  packages/design-system/src/components/Carousel/CarouselItem.tsx
  packages/design-system/src/components/Carousel/VideoBackground.tsx
  packages/design-system/src/components/Carousel/__tests__/CarouselContainer.test.tsx
  packages/design-system/src/components/Carousel/__tests__/CarouselItem.test.tsx
  packages/design-system/src/components/Carousel/__tests__/CarouselView.test.tsx
  packages/design-system/src/components/Carousel/__tests__/VideoBackground.test.tsx
  packages/design-system/src/components/Carousel/__tests__/useCarouselNav.test.tsx
  packages/design-system/src/components/Carousel/constants.ts
  packages/design-system/src/components/Carousel/containers/CarouselContainer.tsx
  packages/design-system/src/components/Carousel/containers/index.ts
  packages/design-system/src/components/Carousel/hooks/index.ts
  packages/design-system/src/components/Carousel/hooks/useDeviceDetection.ts
  packages/design-system/src/components/Carousel/index.ts
  packages/design-system/src/components/Carousel/useCarouselNav.ts
  packages/design-system/src/components/Carousel/views/CarouselEmpty.tsx
  packages/design-system/src/components/Carousel/views/CarouselError.tsx
  packages/design-system/src/components/Carousel/views/CarouselLoading.tsx
  packages/design-system/src/components/Carousel/views/CarouselView.tsx
  packages/design-system/src/components/ImagePlaceholder/ImagePlaceholder.tsx
  packages/design-system/src/components/ImagePlaceholder/index.ts
  packages/design-system/src/components/IntroText/IntroText.tsx
  packages/design-system/src/components/IntroText/__tests__/IntroText.test.tsx
  packages/design-system/src/components/IntroText/index.ts
  packages/design-system/src/components/PageHeader/PageHeader.tsx
  packages/design-system/src/components/PageHeader/__tests__/PageHeader.test.tsx
  packages/design-system/src/components/PageHeader/index.ts
  packages/design-system/src/components/index.ts
Owners: @platform-team

feat: add design system icons
  packages/design-system/src/icons/BottleIcon.tsx
  packages/design-system/src/icons/BoxOfBottlesIcon.tsx
  packages/design-system/src/icons/ClearIcon.tsx
  packages/design-system/src/icons/CloseIcon.tsx
  packages/design-system/src/icons/ErrorIcon.tsx
  packages/design-system/src/icons/FacebookIcon.tsx
  packages/design-system/src/icons/ImageIcon.tsx
  packages/design-system/src/icons/InstagramIcon.tsx
  packages/design-system/src/icons/LoadingIcon.tsx
  packages/design-system/src/icons/NotificationIcon.tsx
  packages/design-system/src/icons/SearchIcon.tsx
  packages/design-system/src/icons/SortIcon.tsx
  packages/design-system/src/icons/SortOrderIcon.tsx
  packages/design-system/src/icons/SuccessIcon.tsx
  packages/design-system/src/icons/index.ts
Owners: @platform-team

feat: add analytics system
  packages/analytics/jest.config.js
  packages/analytics/jest.setup.ts
  packages/analytics/package.json
  packages/analytics/src/AnalyticsProvider.tsx
  packages/analytics/src/constants.ts
  packages/analytics/src/hooks/__tests__/useAnalytics.test.ts
  packages/analytics/src/hooks/useAnalytics.ts
  packages/analytics/src/index.ts
  packages/analytics/src/types.ts
  packages/analytics/tsconfig.json
  packages/analytics/tsup.config.ts
Owners: @luciendulac

feat: add design system foundation
  packages/design-system/jest.config.js
  packages/design-system/jest.setup.ts
  packages/design-system/package.json
  packages/design-system/src/index.ts
  packages/design-system/src/tokens/colors.ts
  packages/design-system/src/tokens/spacing.ts
  packages/design-system/src/tokens/typography.ts
  packages/design-system/src/types.ts
  packages/design-system/src/utils/cn.ts
  packages/design-system/tailwind.config.ts
  packages/design-system/tsconfig.json
  packages/design-system/tsup.config.ts
Owners: @platform-team

feat: add SEO package
  packages/seo/jest.config.js
  packages/seo/jest.setup.ts
  packages/seo/package.json
  packages/seo/src/JsonLd.tsx
  packages/seo/src/__tests__/schemas.test.ts
  packages/seo/src/constants.ts
  packages/seo/src/index.ts
  packages/seo/src/schemas.ts
  packages/seo/tsconfig.json
  packages/seo/tsup.config.ts
Owners: @luciendulac

feat: add notification system hooks and views
  packages/notifications/src/hooks/index.ts
  packages/notifications/src/hooks/useNotificationGroup.ts
  packages/notifications/src/hooks/useSafeNotification.ts
  packages/notifications/src/views/IndividualNotification.tsx
  packages/notifications/src/views/NotificationContent.tsx
  packages/notifications/src/views/NotificationGroupView.tsx
  packages/notifications/src/views/__tests__/IndividualNotification.test.tsx
  packages/notifications/src/views/index.ts
Owners: @notifications-team

feat: generate Shopify GraphQL types and export API
  packages/services/shopify/src/__generated__/graphql.ts
  packages/services/shopify/src/__tests__/factories/cartDetailedFactory.ts
  packages/services/shopify/src/__tests__/factories/cartLinesFactory.ts
  packages/services/shopify/src/__tests__/factories/collectionDtoFactory.ts
  packages/services/shopify/src/__tests__/factories/collectionFactory.ts
  packages/services/shopify/src/__tests__/factories/collectionProductsDtoFactory.ts
  packages/services/shopify/src/__tests__/factories/collectionsDtoFactory.ts
  packages/services/shopify/src/__tests__/factories/collectionsFactory.ts
  packages/services/shopify/src/__tests__/factories/index.ts
  packages/services/shopify/src/__tests__/factories/productDtoFactory.ts
  packages/services/shopify/src/__tests__/factories/productFactory.ts
  packages/services/shopify/src/__tests__/factories/videoSourceDtoFactory.ts
  packages/services/shopify/src/__tests__/index.ts
  packages/services/shopify/src/index.ts
Owners: @luciendulac

feat: add notification system containers and module
  packages/notifications/src/NotificationModule.tsx
  packages/notifications/src/__tests__/NotificationModule.test.tsx
  packages/notifications/src/containers/NotificationGroup.tsx
  packages/notifications/src/containers/index.ts
  packages/notifications/src/index.ts
Owners: @notifications-team

feat: add Shopify GraphQL queries and mutations
  packages/services/shopify/src/graphql/mutations/cart-create.graphql
  packages/services/shopify/src/graphql/mutations/cart-lines-add.graphql
  packages/services/shopify/src/graphql/mutations/cart-lines-remove.graphql
  packages/services/shopify/src/graphql/mutations/cart-lines-update.graphql
  packages/services/shopify/src/graphql/queries/cart-detailed.graphql
  packages/services/shopify/src/graphql/queries/cart.graphql
  packages/services/shopify/src/graphql/queries/collection-products.graphql
  packages/services/shopify/src/graphql/queries/collections.graphql
Owners: @luciendulac

feat: add notification system foundation
  packages/notifications/jest.config.js
  packages/notifications/jest.setup.ts
  packages/notifications/package.json
  packages/notifications/src/constants.ts
  packages/notifications/src/context/NotificationContext.tsx
  packages/notifications/src/types.ts
  packages/notifications/tailwind.config.ts
  packages/notifications/tsconfig.json
  packages/notifications/tsup.config.ts
Owners: @notifications-team

feat: add E2E testing infrastructure
  e2e/accessibility.a11y.spec.ts
  e2e/cart.spec.ts
  e2e/collections.spec.ts
  e2e/home.spec.ts
  e2e/visual.visual.spec.ts
Owners: @luciendulac

feat: add Shopify GraphQL service foundation
  packages/services/shopify/codegen.ts
  packages/services/shopify/package.json
  packages/services/shopify/src/constants.ts
  packages/services/shopify/src/core/errors.ts
  packages/services/shopify/src/core/index.ts
  packages/services/shopify/src/core/types.ts
  packages/services/shopify/tsconfig.json
  packages/services/shopify/tsup.config.ts
Owners: @luciendulac

feat: add cart system components and containers
  packages/cart/src/containers/CartContainer.tsx
Owners: @cart-team

feat: add Shopify GraphQL fragments
  packages/services/shopify/src/graphql/fragments/cart-detailed.fragment.graphql
  packages/services/shopify/src/graphql/fragments/cart.fragment.graphql
  packages/services/shopify/src/graphql/fragments/collection-products.fragment.graphql
  packages/services/shopify/src/graphql/fragments/collections.fragment.graphql
  packages/services/shopify/src/graphql/fragments/money.fragment.graphql
  packages/services/shopify/src/graphql/fragments/product.fragment.graphql
Owners: @luciendulac

feat: add Shopify service client and mappers
  packages/services/shopify/src/client/api/api-adapter.ts
  packages/services/shopify/src/client/api/index.ts
  packages/services/shopify/src/client/core/factory.ts
  packages/services/shopify/src/client/core/graphql-client.ts
  packages/services/shopify/src/client/core/index.ts
  packages/services/shopify/src/client/index.ts
  packages/services/shopify/src/client/page/index.ts
  packages/services/shopify/src/client/page/page-adapter.ts
  packages/services/shopify/src/client/react/index.ts
  packages/services/shopify/src/client/react/react-adapter.ts
  packages/services/shopify/src/client/types.ts
  packages/services/shopify/src/mappers/fragments/cart-detailed.mapper.ts
  packages/services/shopify/src/mappers/fragments/cart-lines.mapper.ts
  packages/services/shopify/src/mappers/fragments/cart.mapper.ts
  packages/services/shopify/src/mappers/fragments/collection-products.mapper.ts
  packages/services/shopify/src/mappers/fragments/collections.mapper.ts
  packages/services/shopify/src/mappers/fragments/index.ts
  packages/services/shopify/src/mappers/fragments/product.mapper.ts
  packages/services/shopify/src/mappers/index.ts
  packages/services/shopify/src/mappers/mutations/cart-add-lines-mutation.mapper.ts
  packages/services/shopify/src/mappers/mutations/cart-create-mutation.mapper.ts
  packages/services/shopify/src/mappers/mutations/cart-lines-remove-mutation.mapper.ts
  packages/services/shopify/src/mappers/mutations/cart-lines-update-mutation.mapper.ts
  packages/services/shopify/src/mappers/mutations/index.ts
  packages/services/shopify/src/mappers/queries/cart-detailed-query.mapper.ts
  packages/services/shopify/src/mappers/queries/cart-query.mapper.ts
  packages/services/shopify/src/mappers/queries/collection-product.mapper.ts
  packages/services/shopify/src/mappers/queries/collections-query.mapper.ts
  packages/services/shopify/src/mappers/queries/index.ts
Owners: @luciendulac

chore: update configuration files for monorepo
  .gitignore
  .husky/pre-push
  .lintstagedrc.js
  eslint.config.js
  jest.setup.ts
  lighthouserc.js
Owners: @luciendulac

feat: add cart system hooks
  packages/cart/src/hooks/__tests__/useCart.test.ts
  packages/cart/src/hooks/index.ts
  packages/cart/src/hooks/useAnnouncement.ts
  packages/cart/src/hooks/useCart.ts
Owners: @cart-team

feat: add cart system views
  packages/cart/src/views/CartContent.tsx
  packages/cart/src/views/CartEmpty.tsx
  packages/cart/src/views/CartLoading.tsx
  packages/cart/src/views/CartView.tsx
  packages/cart/src/views/index.ts
Owners: @cart-team

feat: add cart system foundation
  packages/cart/jest.config.js
  packages/cart/jest.setup.ts
  packages/cart/package.json
  packages/cart/src/constants.ts
  packages/cart/src/contexts/CartContext.tsx
  packages/cart/src/contexts/index.ts
  packages/cart/src/types.ts
  packages/cart/src/utils.ts
  packages/cart/tailwind.config.ts
  packages/cart/tsconfig.json
  packages/cart/tsup.config.ts
Owners: @cart-team

feat: add catalog module
  packages/catalog/jest.config.js
  packages/catalog/jest.setup.ts
  packages/catalog/package.json
  packages/catalog/src/index.ts
  packages/catalog/src/ui/Filters/__tests__/filterLogic.test.ts
  packages/catalog/src/ui/Filters/__tests__/useCollectionFilters.test.ts
  packages/catalog/src/ui/Filters/__tests__/useProductFilters.test.ts
  packages/catalog/src/ui/Filters/constants.ts
  packages/catalog/src/ui/Filters/hooks/__tests__/useCollectionFilters.test.ts
  packages/catalog/src/ui/Filters/hooks/useCollectionFilters.ts
  packages/catalog/src/ui/Filters/hooks/useProductFilters.ts
  packages/catalog/src/ui/Filters/index.ts
  packages/catalog/src/ui/Filters/types.ts
  packages/catalog/src/ui/Filters/utils.ts
  packages/catalog/src/ui/Filters/views/FilterTagsView.tsx
  packages/catalog/src/ui/Filters/views/__tests__/FilterTagsView.test.tsx
  packages/catalog/src/ui/Popup/Popup.tsx
  packages/catalog/src/ui/Popup/PopupFooter.tsx
  packages/catalog/src/ui/Popup/PopupHeader.tsx
  packages/catalog/src/ui/Popup/ProductCard.tsx
  packages/catalog/src/ui/Popup/__tests__/ProductCard.test.tsx
  packages/catalog/src/ui/Popup/containers/PopupContainer.tsx
  packages/catalog/src/ui/Popup/containers/__tests__/PopupContainer.test.tsx
  packages/catalog/src/ui/Popup/index.ts
  packages/catalog/src/ui/Popup/views/PopupView.tsx
  packages/catalog/src/ui/Popup/views/ProductCardView.tsx
  packages/catalog/src/ui/Popup/views/__tests__/PopupView.test.tsx
  packages/catalog/src/ui/ProductCard/containers/ProductCardContainer.tsx
  packages/catalog/src/ui/ProductCard/hooks/useProductCardLogic.ts
  packages/catalog/src/ui/ProductCard/index.ts
  packages/catalog/src/ui/ProductCard/views/ProductCardView.tsx
  packages/catalog/tailwind.config.ts
  packages/catalog/tsconfig.json
  packages/catalog/tsup.config.ts
Owners: @luciendulac

feat: add cart system main components
  packages/cart/src/Announcement.tsx
  packages/cart/src/CartActions.tsx
  packages/cart/src/CartFloatingButton.tsx
  packages/cart/src/CartItem.tsx
  packages/cart/src/CartModule.tsx
  packages/cart/src/QuantitySelector.tsx
  packages/cart/src/__mocks__/analytics.ts
  packages/cart/src/__mocks__/speed-insights-react.ts
  packages/cart/src/__tests__/CartContent.test.tsx
  packages/cart/src/__tests__/CartFloatingButton.test.tsx
  packages/cart/src/__tests__/CartItem.test.tsx
  packages/cart/src/__tests__/QuantitySelector.test.tsx
  packages/cart/src/__tests__/utils.test.ts
  packages/cart/src/index.ts
Owners: @cart-team

chore: convert jest config to ts
  jest.package.base.ts
  jest.setup.ts
  package-lock.json
  package.json
  packages/analytics/jest.config.js
  packages/analytics/jest.config.ts
  packages/analytics/tsconfig.json
  packages/cart/jest.config.js
  packages/cart/jest.config.ts
  packages/cart/tsconfig.json
  packages/catalog/jest.config.js
  packages/catalog/jest.config.ts
  packages/catalog/tsconfig.json
  packages/core/jest.config.js
  packages/core/jest.config.ts
  packages/core/tsconfig.json
  packages/design-system/jest.config.js
  packages/design-system/jest.config.ts
  packages/design-system/jest.setup.ts
  packages/notifications/jest.config.js
  packages/notifications/jest.config.ts
  packages/notifications/tsconfig.json
  packages/seo/jest.config.js
  packages/seo/jest.config.ts
  packages/seo/tsconfig.json
  packages/services/shopify/tsconfig.json
  tsconfig.packages.json
Owners: @luciendulac, @cart-team, @platform-team, @notifications-team

refactor: simplify collection management and popup architecture
  apps/caviste-app/src/app/collections/hooks/useCollectionsLogic.ts
  apps/caviste-app/src/app/components/home/containers/HomeContainer.tsx
  apps/caviste-app/src/app/components/home/hooks/useCollections.ts
  apps/caviste-app/src/app/components/home/hooks/useHome.ts
  apps/caviste-app/src/app/components/home/views/HomeView.tsx
  apps/caviste-app/src/app/hooks/useCollections.ts
  packages/catalog/src/ui/Filters/constants.ts
  packages/catalog/src/ui/Filters/hooks/useCollectionFilters.ts
  packages/catalog/src/ui/Filters/hooks/useCollectionProducts.ts
  packages/catalog/src/ui/Filters/hooks/useProductFilters.ts
  packages/catalog/src/ui/Filters/types.ts
  packages/catalog/src/ui/Filters/utils.ts
  packages/catalog/src/ui/Popup/Popup.tsx
  packages/catalog/src/ui/Popup/containers/PopupContainer.tsx
  packages/catalog/src/ui/Popup/views/PopupView.tsx
  packages/design-system/src/components/Button/Button.tsx
  packages/design-system/src/components/Carousel/containers/CarouselContainer.tsx
  packages/design-system/src/components/Carousel/useCarouselNav.ts
Owners: @frontend-team, @luciendulac, @platform-team

refactor: replace cart context/module system with Zustand store architecture
  apps/caviste-app/src/app/cart/page.tsx
  apps/caviste-app/src/app/components/layout/Layout.tsx
  packages/cart/package.json
  packages/cart/src/CartFloatingButton.tsx
  packages/cart/src/CartModule.tsx
  packages/cart/src/containers/CartContainer.tsx
  packages/cart/src/contexts/CartContext.tsx
  packages/cart/src/contexts/index.ts
  packages/cart/src/hooks/index.ts
  packages/cart/src/hooks/useAnnouncement.ts
  packages/cart/src/hooks/useCart.ts
  packages/cart/src/index.ts
  packages/cart/src/services/CartService.ts
  packages/cart/src/services/types.ts
  packages/cart/src/store/cartStore.ts
  packages/cart/src/store/types.ts
  packages/cart/src/tracking/cartTrackingEvents.ts
  packages/cart/src/tracking/types.ts
  packages/cart/src/tracking/useCartTracking.ts
  packages/cart/src/types.ts
  packages/cart/src/utils.ts
  packages/cart/src/utils/constants.ts
  packages/cart/src/views/CartContent.tsx
  packages/cart/src/views/CartView.tsx
  packages/catalog/src/ui/ProductCard/hooks/useProductCardLogic.ts
  packages/core/src/hooks/useModules.ts
Owners: @frontend-team, @cart-team, @luciendulac, @platform-team

chore: remove obsolete test files
  apps/caviste-app/src/app/api/cart/__tests__/route.test.ts
  apps/caviste-app/src/app/api/cart/add/__tests__/route.test.ts
  apps/caviste-app/src/app/api/cart/remove/__tests__/route.test.ts
  apps/caviste-app/src/app/api/cart/update/__tests__/route.test.ts
  apps/caviste-app/src/app/api/collection-products/__tests__/route.test.ts
  apps/caviste-app/src/app/collections/__tests__/CollectionsView.test.tsx
  apps/caviste-app/src/app/collections/__tests__/useCollectionsLogic.test.ts
  apps/caviste-app/src/app/collections/__tests__/useDebounce.test.ts
  apps/caviste-app/src/app/components/home/__tests__/HomeContainer.test.tsx
  apps/caviste-app/src/app/components/home/__tests__/HomeView.test.tsx
  apps/caviste-app/src/app/components/home/views/__tests__/SocialLinks.test.tsx
  apps/caviste-app/src/app/components/layout/__tests__/Layout.test.tsx
  apps/caviste-app/src/app/contact/views/__tests__/ContactView.test.tsx
  apps/caviste-app/src/app/formations/hooks/__tests__/useFormations.test.ts
  apps/caviste-app/src/app/formations/views/__tests__/FormationsView.test.tsx
  apps/caviste-app/src/app/hooks/__tests__/useCollections.test.ts
  packages/cart/src/__tests__/CartContent.test.tsx
  packages/cart/src/__tests__/CartFloatingButton.test.tsx
  packages/cart/src/__tests__/CartItem.test.tsx
  packages/cart/src/__tests__/utils.test.ts
  packages/cart/src/hooks/__tests__/useAnnouncement.test.ts
  packages/cart/src/hooks/__tests__/useCart.test.ts
  packages/catalog/src/ui/Filters/__tests__/useCollectionFilters.test.ts
  packages/catalog/src/ui/Filters/__tests__/useProductFilters.test.ts
  packages/catalog/src/ui/Filters/hooks/__tests__/useCollectionFilters.test.ts
  packages/catalog/src/ui/Popup/__tests__/ProductCard.test.tsx
  packages/catalog/src/ui/Popup/containers/__tests__/PopupContainer.test.tsx
  packages/catalog/src/ui/Popup/views/__tests__/PopupView.test.tsx
  packages/core/src/__tests__/ModuleIntegration.test.tsx
  packages/design-system/src/components/Carousel/__tests__/CarouselContainer.test.tsx
  packages/notifications/src/__tests__/NotificationModule.test.tsx
Owners: @frontend-team, @cart-team, @luciendulac, @platform-team, @notifications-team

refactor: remove unused collections page and components
  apps/caviste-app/src/app/collections/containers/CollectionsContainer.tsx
  apps/caviste-app/src/app/collections/hooks/useCollectionsLogic.ts
  apps/caviste-app/src/app/collections/hooks/useDebounce.ts
  apps/caviste-app/src/app/collections/page.tsx
  apps/caviste-app/src/app/collections/views/CollectionsFilters.tsx
  apps/caviste-app/src/app/collections/views/CollectionsView.tsx
Owners: @frontend-team

feat: migrate Jest configurations to JavaScript with ESM support
  apps/caviste-app/jest.config.js
  apps/caviste-app/package.json
  packages/analytics/jest.config.js
  packages/analytics/package.json
  packages/cart/jest.config.js
  packages/cart/package.json
  packages/catalog/jest.config.js
  packages/catalog/package.json
  packages/config/jest/package.json
  packages/config/jest/src/index.js
  packages/config/jest/src/index.ts
  packages/config/jest/src/jest.config.js
  packages/config/jest/src/jest.setup.base.cjs
  packages/config/tailwind/index.ts
  packages/config/tailwind/package.json
  packages/core/jest.config.js
  packages/core/jest.config.ts
  packages/core/package.json
  packages/design-system/jest.config.js
  packages/design-system/jest.config.ts
  packages/design-system/package.json
  packages/notifications/jest.config.js
  packages/notifications/jest.config.ts
  packages/notifications/package.json
  packages/seo/jest.config.js
  packages/seo/jest.config.ts
  packages/seo/package.json
  packages/services/shopify/package.json
  tsup.base.ts
Owners: @frontend-team, @luciendulac, @cart-team, @platform-team, @notifications-team

feat: update dependencies - tailwindcss to 3.4.17 and remove unused dev deps
  apps/caviste-app/package.json
  package-lock.json
  package.json
Owners: @frontend-team, @luciendulac

refactor: update configuration files - postcss, tailwind, tsconfig, turbo
  apps/caviste-app/postcss.config.js
  apps/caviste-app/tailwind.config.ts
  apps/caviste-app/tsconfig.json
  tsconfig.base.json
  tsconfig.packages.json
  turbo.json
Owners: @frontend-team, @luciendulac, @platform-team

refactor: update code - useCollections hook, cart constants, shopify factory
  apps/caviste-app/src/app/components/home/hooks/useCollections.ts
  packages/cart/src/constants.ts
  packages/services/shopify/src/client/core/factory.ts
Owners: @frontend-team, @cart-team, @luciendulac

test: update test files - SocialLinks and filterLogic
  apps/caviste-app/src/app/components/home/views/__tests__/SocialLinks.test.tsx
  packages/catalog/src/ui/Filters/__tests__/filterLogic.test.ts
Owners: @frontend-team, @luciendulac

style: update CSS and UI - remove primary colors, adjust carousel opacity
  apps/caviste-app/src/app/globals.css
  packages/design-system/src/components/Carousel/CarouselItem.tsx
Owners: @frontend-team, @platform-team

refactor: update package.json files - add type module and fix exports
  packages/config/env/package.json
  packages/config/tailwind/package.json
  packages/domain/package.json
  packages/global-types/package.json
Owners: @luciendulac

fix: prevent useShopify from running on server-side
  apps/caviste-app/src/app/services/client.ts
Owners: @frontend-team

feat: add dotenv to build script for environment variables
  apps/caviste-app/package.json
Owners: @frontend-team

refactor: remove env vars and rootDirectory from vercel config
  vercel.json
Owners: @luciendulac

feat: upgrade to Node.js 22
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  apps/caviste-app/package.json
  package-lock.json
  package.json
  vercel.json
Owners: @platform-team, @frontend-team, @luciendulac

feat: add .nvmrc file for Node.js 22
  .nvmrc
Owners: @luciendulac

CODEOWNERS:

# Global owners
* @luciendulac

# Platform team owns design system and core tooling
/packages/design-system/ @platform-team
/packages/core/ @platform-team
/tools/ @platform-team

# Feature teams own their respective modules
/packages/cart/ @cart-team
/packages/notifications/ @notifications-team

# Apps are owned by their respective teams
/apps/caviste-app/ @frontend-team

# Configuration and infrastructure
/turbo.json @platform-team

/.github/ @platform-team
/CODEOWNERS @platform-team
