Repository hallya/caviste_personnel, changes with the owners that CODEOWNERS names for each.
All owners: @luciendulac, @platform-team, @cart-team, @notifications-team, @frontend-team

chore: update npm engine to >=10.0.0 and remove vercel functions block
  package.json
  vercel.json
Owners: @luciendulac

refactor: remove debug console.log from PostCSS config
  apps/caviste-app/postcss.config.js
Owners: @frontend-team

refactor: remove debug console.log from Tailwind config
  apps/caviste-app/tailwind.config.ts
Owners: @frontend-team

refactor: update Shopify codegen to use NEXT_PUBLIC env vars
  packages/services/shopify/codegen.ts
Owners: @luciendulac

styles: clean unnecessary class
  apps/caviste-app/src/app/components/home/views/HomeView.tsx
  apps/caviste-app/src/app/contact/views/ContactView.tsx
  apps/caviste-app/src/app/formations/views/FormationsView.tsx
  apps/caviste-app/src/app/globals.css
  docs/DEVELOPMENT_GUIDELINES.md
  packages/cart/src/views/CartContent.tsx
  packages/cart/src/views/CartEmpty.tsx
  packages/cart/src/views/CartLoading.tsx
  packages/catalog/src/ui/Popup/PopupFooter.tsx
  packages/catalog/src/ui/Popup/PopupHeader.tsx
  packages/catalog/src/ui/Popup/views/ProductCardView.tsx
  packages/catalog/src/ui/ProductCard/views/ProductCardView.tsx
  packages/design-system/src/components/PageHeader/PageHeader.tsx
  packages/design-system/src/components/PageHeader/__tests__/PageHeader.test.tsx
Owners: @frontend-team, @luciendulac, @cart-team, @platform-team

CODEOWNERS:

# Global owners
* @luciendulac

# Platform team owns design system and core tooling
/packages/design-system/ @platform-team
/packages/core/ @platform-team
/tools/ @platform-team

# Feature teams own their respective modules
/packages/cart/ @cart-team
/packages/notifications/ @notifications-team

# Apps are owned by their respective teams
/apps/caviste-app/ @frontend-team

# Configuration and infrastructure
/turbo.json @platform-team

/.github/ @platform-team
/CODEOWNERS @platform-team
